.button {
  display: flex;
  height: 30px;
  width: 150px;
  background: antiquewhite;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-between;
}
.button:hover,
.button:active {
  background: #F4EEE1;
}

.button__text,
.button__icon {
  height: 100%;
}
.button__text {
  padding: 5px 0 0 9px;
}
.button__icon {
  padding: 5px 8px 0 8px;
  background: rgba(182,143,64,0.4);
}
