.button {
  display: flex;
  height: 34px;
  width: 150px;
  background: var(--color-button-bg-body);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-button-border);
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-between;
}
.button:hover {
  background: var(--color-button-bg-icon);
}
.button:active {
  background: var(--color-button-border);
}

.button__text,
.button__icon {
  height: 100%;
}
.button__text {
  padding: 7px 0 0 12px;
}
.button__icon {
  padding: 7px 8px 0 8px;
  background: var(--color-button-bg-icon);
}
