@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --font-base: 'Questrial', sans-serif;
  --font-alt1: 'Roboto Condensed', sans-serif;
  --font-alt2: 'Ubuntu', sans-serif;
  --font-alt3: 'Oxygen', sans-serif;
  --font-default: 'Open Sans', sans-serif;

  --color-bg: #F4EEE1;
  --color-font-light: #F9F7F0;
  --color-font-dark: #48435C;
  --color-font-logo: #436436;
  --color-accent-light: #EDFFEC;
  --color-accent-dark: #141414;

  /* BUTTON */
  --color-button-bg-body: #FAECD7;
  --color-button-bg-icon: #DFC79C;
  --color-button-border: #B68F40;
}

* {
  font-family: var(--font-base);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
